<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navBar.ejs'); %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/categories/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo">
                <br>
                <textarea id="article" placeholder="Escreva o artigo aqui" class="form-control" name="contents"></textarea>
                <br>
                <label>Categoria</label>
                <select class="form-control" name="category">
                    <% categories.forEach(d=>{ %>
                        <option value="<%= d.id %>"><%= d.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#article',
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount image fullscreen media save table emoticons'
        ]
    })
</script>
<%- include('../../partials/footer.ejs'); %>

